#description > span {
	color: red;
	font-weight: bold;
}

img {
	padding-left: 10px;
	vertical-align: middle;
}

body {
	font-family: arial, sans-serif;
}

li {
	list-style: none;
}

#savedMsg {
	margin-left: 10px;
	font-weight: bold;
	display: none;
}

ul {
	padding-left: 0;
}
table {
	border-spacing: 0px;
	margin-top: 10px;
}
input, button {
	margin: 0px;
}
button {
	cursor: pointer;
}
th{
	font-size: 12px;
	padding-right: 10px;
}
.note {
	font-weight: normal;
	font-size: 10px;
}